<div class="bs-component mb-5">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">MetalApp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="/articles">Articles</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/materials/page/1">Materials</a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Data Visualization <i class="fas fa-chart-bar"></i></a>
              <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 40px, 0px);">
                <a class="dropdown-item" href="/manif_show">Manifold Learning</a>
                <a class="dropdown-item" href="/visualization">Properties dependies</a>
              </div>
            </li>
        </ul>
        
        <ul class="navbar-nav ml-auto">
          <form class="form-inline my-2 my-lg-0 mr-sm-3" action="../search" method="POST">
            <input class="form-control mr-sm-2" type="text" placeholder="Enter material name..." name="mat_name">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search <i class="fas fa-search"></i></button>
          </form>
          {% if session.logged_in %}
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout <i class="fas fa-sign-out-alt"></i></a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </div>