{% extends 'layout.html' %}

{% block body %}
  <div class="text-center">
    <!-- <h1>{{material.name}}</h1> -->
    <h1>{{ material.classification }} {{ material.marka }}</h1>
    <!-- <small>{{material.name}}</small> -->
    <hr>
    <div>
      <h3>Применение:</h3>
      <p class="">{{ material.primenenie }}</p>

      {% if material.dopolnenie %}
        <p>{{ material.dopolnenie }}</p>
      {% endif %}
    </div>
    <hr>
    {% if elements %}
      <h3>Химический состав материала:</h3>
      <table class="table table-striped table-responsive-md">
        {% for element in elements %}
          <th class="text-center">{{ element }}</th>
        {% endfor %}
        <tr>
          {% for conc in concetration %}
            <td>{{ conc }} %</td>
          {% endfor %}
        <tr>
      </table>
      <form method="POST" action="/chemical_search/{{ material.id }}">
        <p><input type="submit" class="btn btn-warning" value="Найти похожие по хим. составу"></p>
      </form>

      {% if length != 0 %}
        <div style="width: 100%;">
          <table class="mentable" align="center">
            <tbody>
            <tr>
              <td id="H" class="chem-element s_block">
                <div class="number">1</div>
                <div class="id">H</div>
                <div class="name">Hydrogen</div>
                <div class="mass">1.008</div>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td id="He" class="chem-element s_block">
                <div class="number">2</div>
                <div class="id">He</div>
                <div class="name">Helium</div>
                <div class="mass">4.003</div>
              </td>
            </tr>

            <tr>
              <td id="Li" class="chem-element s_block">
                <div class="number">3</div>
                <div class="id">Li</div>
                <div class="name">Lithium</div>
                <div class="mass">6.941</div>
              </td>
              <td id="Be" class="chem-element s_block">
                <div class="number">4</div>
                <div class="id">Be</div>
                <div class="name">Beryllium</div>
                <div class="mass">9.0122</div>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td id="B" class="chem-element p_block">
                <div class="number">5</div>
                <div class="id">B</div>
                <div class="name">Boron</div>
                <div class="mass">10.811</div>
              </td>
              <td id="C" class="chem-element p_block">
                <div class="number">6</div>
                <div class="id">C</div>
                <div class="name">Carbon</div>
                <div class="mass">12.011</div>
              </td>
              <td id="N" class="chem-element p_block">
                <div class="number">7</div>
                <div class="id">N</div>
                <div class="name">Nitrogen</div>
                <div class="mass">14.007</div>
              </td>
              <td id="O" class="chem-element p_block">
                <div class="number">8</div>
                <div class="id">O</div>
                <div class="name">Oxygen</div>
                <div class="mass">15.999</div>
              </td>
              <td id="F" class="chem-element p_block">
                <div class="number">9</div>
                <div class="id">F</div>
                <div class="name">Fluorine</div>
                <div class="mass">18.998</div>
              </td>
              <td id="Ne" class="chem-element p_block">
                <div class="number">10</div>
                <div class="id">Ne</div>
                <div class="name">Neon</div>
                <div class="mass">20.179</div>
              </td>
            </tr>

            <tr>
              <td id="Na" class="chem-element s_block">
                <div class="number">11</div>
                <div class="id">Na</div>
                <div class="name">Sodium</div>
                <div class="mass">22.99</div>
              </td>
              <td id="Mg" class="chem-element s_block">
                <div class="number">12</div>
                <div class="id">Mg</div>
                <div class="name">Magnesium</div>
                <div class="mass">24.312</div>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td id="Al" class="chem-element p_block">
                <div class="number">13</div>
                <div class="id">Al</div>
                <div class="name">Aluminium</div>
                <div class="mass">26.092</div>
              </td>
              <td id="Si" class="chem-element p_block">
                <div class="number">14</div>
                <div class="id">Si</div>
                <div class="name">Silicon</div>
                <div class="mass">28.086</div>
              </td>
              <td id="P" class="chem-element p_block">
                <div class="number">15</div>
                <div class="id">P</div>
                <div class="name">Phosphorus</div>
                <div class="mass">30.974</div>
              </td>
              <td id="S" class="chem-element p_block">
                <div class="number">16</div>
                <div class="id">S</div>
                <div class="name">Sulfur</div>
                <div class="mass">32.064</div>
              </td>
              <td id="Cl" class="chem-element p_block">
                <div class="number">17</div>
                <div class="id">Cl</div>
                <div class="name">Chlorine</div>
                <div class="mass">35.453</div>
              </td>
              <td id="Ar" class="chem-element p_block">
                <div class="number">18</div>
                <div class="id">Ar</div>
                <div class="name">Argon</div>
                <div class="mass">39.948</div>
              </td>
            </tr>

            <tr>
              <td id="K" class="chem-element s_block">
                <div class="number">19</div>
                <div class="id">K</div>
                <div class="name">Potassium</div>
                <div class="mass">39.102</div>
              </td>
              <td id="Ca" class="chem-element s_block">
                <div class="number">20</div>
                <div class="id">Ca</div>
                <div class="name">Calcium</div>
                <div class="mass">40.08</div>
              </td>
              <td id="Sc" class="chem-element d_block">
                <div class="number">21</div>
                <div class="id">Sc</div>
                <div class="name">Scandium</div>
                <div class="mass">44.956</div>
              </td>
              <td id="Ti" class="chem-element d_block">
                <div class="number">22</div>
                <div class="id">Ti</div>
                <div class="name">Titanium</div>
                <div class="mass">47.956</div>
              </td>
              <td id="V" class="chem-element d_block">
                <div class="number">23</div>
                <div class="id">V</div>
                <div class="name">Vanadium</div>
                <div class="mass">50.941</div>
              </td>
              <td id="Cr" class="chem-element d_block">
                <div class="number">24</div>
                <div class="id">Cr</div>
                <div class="name">Chromium</div>
                <div class="mass">51.996</div>
              </td>
              <td id="Mn" class="chem-element d_block">
                <div class="number">25</div>
                <div class="id">Mn</div>
                <div class="name">Manganese</div>
                <div class="mass">54.938</div>
              </td>
              <td id="Fe" class="chem-element d_block">
                <div class="number">26</div>
                <div class="id">Fe</div>
                <div class="name">Iron</div>
                <div class="mass">55.849</div>
              </td>
              <td id="Co" class="chem-element d_block">
                <div class="number">27</div>
                <div class="id">Co</div>
                <div class="name">Cobalt</div>
                <div class="mass">58.933</div>
              </td>
              <td id="Ni" class="chem-element d_block">
                <div class="number">28</div>
                <div class="id">Ni</div>
                <div class="name">Nickel</div>
                <div class="mass">58.7</div>
              </td>
              <td id="Cu" class="chem-element d_block">
                <div class="number">29</div>
                <div class="id">Cu</div>
                <div class="name">Copper</div>
                <div class="mass">63.546</div>
              </td>
              <td id="Zn" class="chem-element d_block">
                <div class="number">30</div>
                <div class="id">Zn</div>
                <div class="name">Zinc</div>
                <div class="mass">65.37</div>
              </td>
              <td id="Ga" class="chem-element p_block">
                <div class="number">31</div>
                <div class="id">Ga</div>
                <div class="name">Gallium</div>
                <div class="mass">69.72</div>
              </td>
              <td id="Ge" class="chem-element p_block">
                <div class="number">32</div>
                <div class="id">Ge</div>
                <div class="name">Germanium</div>
                <div class="mass">72.59</div>
              </td>
              <td id="As" class="chem-element p_block">
                <div class="number">33</div>
                <div class="id">As</div>
                <div class="name">Arsenic</div>
                <div class="mass">74.922</div>
              </td>
              <td id="Se" class="chem-element p_block">
                <div class="number">34</div>
                <div class="id">Se</div>
                <div class="name">Selenium</div>
                <div class="mass">78.96</div>
              </td>
              <td id="Br" class="chem-element p_block">
                <div class="number">35</div>
                <div class="id">Br</div>
                <div class="name">Bromine</div>
                <div class="mass">79.904</div>
              </td>
              <td id="Kr" class="chem-element p_block">
                <div class="number">36</div>
                <div class="id">Kr</div>
                <div class="name">Krypton</div>
                <div class="mass">83.8</div>
              </td>
            </tr>

            <tr>
              <td id="Rb" class="chem-element s_block">
                <div class="number">37</div>
                <div class="id">Rb</div>
                <div class="name">Rubidium</div>
                <div class="mass">85.468</div>
              </td>
              <td id="Sr" class="chem-element s_block">
                <div class="number">38</div>
                <div class="id">Sr</div>
                <div class="name">Strontium</div>
                <div class="mass">87.62</div>
              </td>
              <td id="Y" class="chem-element d_block">
                <div class="number">39</div>
                <div class="id">Y</div>
                <div class="name">Yttrium</div>
                <div class="mass">88.906</div>
              </td>
              <td id="Zr" class="chem-element d_block">
                <div class="number">40</div>
                <div class="id">Zr</div>
                <div class="name">Zirconium</div>
                <div class="mass">91.22</div>
              </td>
              <td id="Nb" class="chem-element d_block">
                <div class="number">41</div>
                <div class="id">Nb</div>
                <div class="name">Niobium</div>
                <div class="mass">92.906</div>
              </td>
              <td id="Mo" class="chem-element d_block">
                <div class="number">42</div>
                <div class="id">Mo</div>
                <div class="name">Molybdenum</div>
                <div class="mass">95.94</div>
              </td>
              <td id="Tc" class="chem-element d_block">
                <div class="number">43</div>
                <div class="id">Tc</div>
                <div class="name">Technetium</div>
                <div class="mass">99</div>
              </td>
              <td id="Ru" class="chem-element d_block">
                <div class="number">44</div>
                <div class="id">Ru</div>
                <div class="name">Ruthenium</div>
                <div class="mass">101.07</div>
              </td>
              <td id="Rh" class="chem-element d_block">
                <div class="number">45</div>
                <div class="id">Rh</div>
                <div class="name">Rhodium</div>
                <div class="mass">102.906</div>
              </td>
              <td id="Pd" class="chem-element d_block">
                <div class="number">46</div>
                <div class="id">Pd</div>
                <div class="name">Palladium</div>
                <div class="mass">106.4</div>
              </td>
              <td id="Ag" class="chem-element d_block">
                <div class="number">47</div>
                <div class="id">Ag</div>
                <div class="name">Silver</div>
                <div class="mass">107.868</div>
              </td>
              <td id="Cd" class="chem-element d_block">
                <div class="number">48</div>
                <div class="id">Cd</div>
                <div class="name">Cadmium</div>
                <div class="mass">112.41</div>
              </td>
              <td id="In" class="chem-element p_block">
                <div class="number">49</div>
                <div class="id">In</div>
                <div class="name">Indium</div>
                <div class="mass">114.82</div>
              </td>
              <td id="Sn" class="chem-element p_block">
                <div class="number">50</div>
                <div class="id">Sn</div>
                <div class="name">Tin</div>
                <div class="mass">118.69</div>
              </td>
              <td id="Sb" class="chem-element p_block">
                <div class="number">51</div>
                <div class="id">Sb</div>
                <div class="name">Antimony</div>
                <div class="mass">121.75</div>
              </td>
              <td id="Te" class="chem-element p_block">
                <div class="number">52</div>
                <div class="id">Te</div>
                <div class="name">Tellurium</div>
                <div class="mass">127.6</div>
              </td>
              <td id="I" class="chem-element p_block">
                <div class="number">53</div>
                <div class="id">I</div>
                <div class="name">Iodine</div>
                <div class="mass">126.905</div>
              </td>
              <td id="Xe" class="chem-element p_block">
                <div class="number">54</div>
                <div class="id">Xe</div>
                <div class="name">Xenon</div>
                <div class="mass">131.3</div>
              </td>
            </tr>

            <tr>
              <td id="Cs" class="chem-element s_block">
                <div class="number">55</div>
                <div class="id">Cs</div>
                <div class="name">Caesium</div>
                <div class="mass">132.905</div>
              </td>
              <td id="Ba" class="chem-element s_block">
                <div class="number">56</div>
                <div class="id">Ba</div>
                <div class="name">Barium</div>
                <div class="mass">137.34</div>
              </td>
              <td></td>
              <td id="Hf" class="chem-element d_block">
                <div class="number">72</div>
                <div class="id">Hf</div>
                <div class="name">Hafnium</div>
                <div class="mass">178.49</div>
              </td>
              <td id="Ta" class="chem-element d_block">
                <div class="number">73</div>
                <div class="id">Ta</div>
                <div class="name">Tantalum</div>
                <div class="mass">180.948</div>
              </td>
              <td id="W" class="chem-element d_block">
                <div class="number">74</div>
                <div class="id">W</div>
                <div class="name">Tungsten</div>
                <div class="mass">183.85</div>
              </td>
              <td id="Re" class="chem-element d_block">
                <div class="number">75</div>
                <div class="id">Re</div>
                <div class="name">Rhenium</div>
                <div class="mass">186.207</div>
              </td>
              <td id="Os" class="chem-element d_block">
                <div class="number">76</div>
                <div class="id">Os</div>
                <div class="name">Osmium</div>
                <div class="mass">190.2</div>
              </td>
              <td id="Ir" class="chem-element d_block">
                <div class="number">77</div>
                <div class="id">Ir</div>
                <div class="name">Iridium</div>
                <div class="mass">192.22</div>
              </td>
              <td id="Pt" class="chem-element d_block">
                <div class="number">78</div>
                <div class="id">Pt</div>
                <div class="name">Platinum</div>
                <div class="mass">195.09</div>
              </td>
              <td id="Au" class="chem-element d_block">
                <div class="number">79</div>
                <div class="id">Au</div>
                <div class="name">Gold</div>
                <div class="mass">196.967</div>
              </td>
              <td id="Hg" class="chem-element d_block">
                <div class="number">80</div>
                <div class="id">Hg</div>
                <div class="name">Mercury</div>
                <div class="mass">200.59</div>
              </td>
              <td id="Tl" class="chem-element p_block">
                <div class="number">81</div>
                <div class="id">Tl</div>
                <div class="name">Thallium</div>
                <div class="mass">204.37</div>
              </td>
              <td id="Pb" class="chem-element p_block">
                <div class="number">82</div>
                <div class="id">Pb</div>
                <div class="name">Lead</div>
                <div class="mass">207.19</div>
              </td>
              <td id="Bi" class="chem-element p_block">
                <div class="number">83</div>
                <div class="id">Bi</div>
                <div class="name">Bismuth</div>
                <div class="mass">208.98</div>
              </td>
              <td id="Po" class="chem-element p_block">
                <div class="number">84</div>
                <div class="id">Po</div>
                <div class="name">Polonium</div>
                <div class="mass">210</div>
              </td>
              <td id="At" class="chem-element p_block">
                <div class="number">85</div>
                <div class="id">At</div>
                <div class="name">Astatine</div>
                <div class="mass">210</div>
              </td>
              <td id="Rn" class="chem-element p_block">
                <div class="number">86</div>
                <div class="id">Rn</div>
                <div class="name">Radon</div>
                <div class="mass">222</div>
              </td>
            </tr>

            <tr>
              <td id="Fr" class="chem-element s_block">
                <div class="number">87</div>
                <div class="id">Fr</div>
                <div class="name">Francium</div>
                <div class="mass">223</div>
              </td>
              <td id="Ra" class="chem-element s_block">
                <div class="number">88</div>
                <div class="id">Ra</div>
                <div class="name">Radium</div>
                <div class="mass">226</div>
              </td>
              <td></td>
              <td id="Rf" class="chem-element d_block">
                <div class="number">104</div>
                <div class="id">Rf</div>
                <div class="name">Rutherfordium</div>
                <div class="mass">261</div>
              </td>
              <td id="Db" class="chem-element d_block">
                <div class="number">105</div>
                <div class="id">Db</div>
                <div class="name">Dubnium</div>
                <div class="mass">262</div>
              </td>
              <td id="Sg" class="chem-element d_block">
                <div class="number">106</div>
                <div class="id">Sg</div>
                <div class="name">Seaborgium</div>
                <div class="mass">271</div>
              </td>
              <td id="Bh" class="chem-element d_block">
                <div class="number">107</div>
                <div class="id">Bh</div>
                <div class="name">Bohrium</div>
                <div class="mass">267</div>
              </td>
              <td id="Hs" class="chem-element d_block">
                <div class="number">108</div>
                <div class="id">Hs</div>
                <div class="name">Hassium</div>
                <div class="mass">269</div>
              </td>
              <td id="Mt" class="chem-element d_block">
                <div class="number">109</div>
                <div class="id">Mt</div>
                <div class="name">Meitnerium</div>
                <div class="mass">276</div>
              </td>
              <td id="Ds" class="chem-element d_block">
                <div class="number">110</div>
                <div class="id">Ds</div>
                <div class="name">Darmstadtium</div>
                <div class="mass">281</div>
              </td>
              <td id="Rg" class="chem-element d_block">
                <div class="number">111</div>
                <div class="id">Rg</div>
                <div class="name">Roentgenium</div>
                <div class="mass">280</div>
              </td>
              <td id="Cn" class="chem-element d_block">
                <div class="number">112</div>
                <div class="id">Cn</div>
                <div class="name">Copernicium</div>
                <div class="mass">285</div>
              </td>
              <td id="Nh" class="chem-element p_block">
                <div class="number">113</div>
                <div class="id">Nh</div>
                <div class="name">Nihonium</div>
                <div class="mass">286</div>
              </td>
              <td id="Fl" class="chem-element p_block">
                <div class="number">114</div>
                <div class="id">Fl</div>
                <div class="name">Flerovium</div>
                <div class="mass">289</div>
              </td>
              <td id="Mc" class="chem-element p_block">
                <div class="number">115</div>
                <div class="id">Mc</div>
                <div class="name">Moscovium</div>
                <div class="mass">289</div>
              </td>
              <td id="Lv" class="chem-element p_block">
                <div class="number">116</div>
                <div class="id">Lv</div>
                <div class="name">Livermorium</div>
                <div class="mass">293</div>
              </td>
              <td id="Ts" class="chem-element p_block">
                <div class="number">117</div>
                <div class="id">Ts</div>
                <div class="name">Tennessine</div>
                <div class="mass">294</div>
              </td>
              <td id="Og" class="chem-element p_block">
                <div class="number">118</div>
                <div class="id">Og</div>
                <div class="name">Oganesson</div>
                <div class="mass">294</div>
              </td>
            </tr>
            </tbody>
          </table>

          <table class="mentable" align="center">
            <tbody>
            <tr>
              <td id="La" class="chem-element f_block">
                <div class="number">57</div>
                <div class="id">La</div>
                <div class="name">Lanthanum</div>
                <div class="mass">138.906</div>
              </td>
              <td id="Ce" class="chem-element f_block">
                <div class="number">58</div>
                <div class="id">Ce</div>
                <div class="name">Cerium</div>
                <div class="mass">140.115</div>
              </td>
              <td id="Pr" class="chem-element f_block">
                <div class="number">59</div>
                <div class="id">Pr</div>
                <div class="name">Praseodymium</div>
                <div class="mass">140.908</div>
              </td>
              <td id="Nd" class="chem-element f_block">
                <div class="number">60</div>
                <div class="id">Nd</div>
                <div class="name">Neodymium</div>
                <div class="mass">144.24</div>
              </td>
              <td id="Pm" class="chem-element f_block">
                <div class="number">61</div>
                <div class="id">Pm</div>
                <div class="name">Promethium</div>
                <div class="mass">145</div>
              </td>
              <td id="Sm" class="chem-element f_block">
                <div class="number">62</div>
                <div class="id">Sm</div>
                <div class="name">Samarium</div>
                <div class="mass">150.4</div>
              </td>
              <td id="Eu" class="chem-element f_block">
                <div class="number">63</div>
                <div class="id">Eu</div>
                <div class="name">Europium</div>
                <div class="mass">151.96</div>
              </td>
              <td id="Gd" class="chem-element f_block">
                <div class="number">64</div>
                <div class="id">Gd</div>
                <div class="name">Gadolinium</div>
                <div class="mass">157.25</div>
              </td>
              <td id="Tb" class="chem-element f_block">
                <div class="number">65</div>
                <div class="id">Tb</div>
                <div class="name">Terbium</div>
                <div class="mass">158.926</div>
              </td>
              <td id="Dy" class="chem-element f_block">
                <div class="number">66</div>
                <div class="id">Dy</div>
                <div class="name">Dysprosium</div>
                <div class="mass">162.5</div>
              </td>
              <td id="Ho" class="chem-element f_block">
                <div class="number">67</div>
                <div class="id">Ho</div>
                <div class="name">Holmium</div>
                <div class="mass">164.93</div>
              </td>
              <td id="Er" class="chem-element f_block">
                <div class="number">68</div>
                <div class="id">Er</div>
                <div class="name">Erbium</div>
                <div class="mass">167.26</div>
              </td>
              <td id="Tm" class="chem-element f_block">
                <div class="number">69</div>
                <div class="id">Tm</div>
                <div class="name">Thulium</div>
                <div class="mass">168.934</div>
              </td>
              <td id="Yb" class="chem-element f_block">
                <div class="number">70</div>
                <div class="id">Yb</div>
                <div class="name">Ytterbium</div>
                <div class="mass">173.04</div>
              </td>
              <td id="Lu" class="chem-element f_block">
                <div class="number">71</div>
                <div class="id">Lu</div>
                <div class="name">Lutetium</div>
                <div class="mass">174.97</div>
              </td>
            </tr>
            <tr>
              <td id="Ac" class="chem-element f_block">
                <div class="number">89</div>
                <div class="id">Ac</div>
                <div class="name">Actinium</div>
                <div class="mass">227</div>
              </td>
              <td id="Th" class="chem-element f_block">
                <div class="number">90</div>
                <div class="id">Th</div>
                <div class="name">Thorium</div>
                <div class="mass">232.038</div>
              </td>
              <td id="Pa" class="chem-element f_block">
                <div class="number">91</div>
                <div class="id">Pa</div>
                <div class="name">Protactinium</div>
                <div class="mass">231</div>
              </td>
              <td id="U" class="chem-element f_block">
                <div class="number">92</div>
                <div class="id">U</div>
                <div class="name">Uranium</div>
                <div class="mass">238.29</div>
              </td>
              <td id="Np" class="chem-element f_block">
                <div class="number">93</div>
                <div class="id">Np</div>
                <div class="name">Neptunium</div>
                <div class="mass">237</div>
              </td>
              <td id="Pu" class="chem-element f_block">
                <div class="number">94</div>
                <div class="id">Pu</div>
                <div class="name">Plutonium</div>
                <div class="mass">244</div>
              </td>
              <td id="Am" class="chem-element f_block">
                <div class="number">95</div>
                <div class="id">Am</div>
                <div class="name">Americium</div>
                <div class="mass">243</div>
              </td>
              <td id="Cm" class="chem-element f_block">
                <div class="number">96</div>
                <div class="id">Cm</div>
                <div class="name">Curium</div>
                <div class="mass">247</div>
              </td>
              <td id="Bk" class="chem-element f_block">
                <div class="number">97</div>
                <div class="id">Bk</div>
                <div class="name">Berkelium</div>
                <div class="mass">247</div>
              </td>
              <td id="Cf" class="chem-element f_block">
                <div class="number">98</div>
                <div class="id">Cf</div>
                <div class="name">Californium</div>
                <div class="mass">251</div>
              </td>
              <td id="Es" class="chem-element f_block">
                <div class="number">99</div>
                <div class="id">Es</div>
                <div class="name">Einsteinium</div>
                <div class="mass">254</div>
              </td>
              <td id="Fm" class="chem-element f_block">
                <div class="number">100</div>
                <div class="id">Fm</div>
                <div class="name">Fermium</div>
                <div class="mass">257</div>
              </td>
              <td id="Md" class="chem-element f_block">
                <div class="number">101</div>
                <div class="id">Md</div>
                <div class="name">Mendelevium</div>
                <div class="mass">258</div>
              </td>
              <td id="No" class="chem-element f_block">
                <div class="number">102</div>
                <div class="id">No</div>
                <div class="name">Nobelium</div>
                <div class="mass">259</div>
              </td>
              <td id="Lr" class="chem-element f_block">
                <div class="number">103</div>
                <div class="id">Lr</div>
                <div class="name">Lawrencium</div>
                <div class="mass">260</div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <script defer>
          var chem_elem =
          {{ chem_elem|safe }}

          for (var i = 0; i <{{length}}; i++) {
            var id = chem_elem[i].replace(/\s/g, '');
            var elem = document.getElementById(id + '');
            if (elem != null) {
              elem.style = 'background-color:#FFD519;';
            }
          }

        </script>

        <hr>

        <div id="chart_wrap" style="position:relative; padding-bottom:500px; height:0; overflow:hidden;">
          <div id="chart_div" align="center"
               style="position: absolute; top: 0; left:0; width: 100%; height:500px;"></div>
        </div>


        <script type="text/javascript">

          var chem_elem =
          {{ chem_elem|safe }}
          var chem_concetration_number = {{ chem_concetration_number|safe }}

            // Load the Visualization API and the corechart package.
            google.charts.load('current', { 'packages': ['corechart'] });

          // Set a callback to run when the Google Visualization API is loaded.
          google.charts.setOnLoadCallback(drawChart);

          // Callback that creates and populates a data table,
          // instantiates the pie chart, passes in the data and
          // draws it.
          function drawChart() {

            // Create the data table.
            const data = new google.visualization.DataTable();
            data.addColumn('string', 'Element');
            data.addColumn('number', '%');


            for (i = 0; i < {{length}}; i++) {
              data.addRows([[chem_elem[i], chem_concetration_number[i]]]);
            }

            // Set chart options
            const options = {
              'title': 'Химический состав материала',
              width: '100%',
              height: '500px'
            };

            // Instantiate and draw our chart, passing in some options.
            const chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
            chart.draw(data, options);
          }
        </script>
      {% endif %}

      <hr>
    {% endif %}
    {% if critical_temperature %}
      <h3>Температура критических точек материала:</h3>
      <table class="table table-striped table-responsive-md">
        <tr>{{ critical_temperature.critical_temperature }}</tr>
      </table>
      <hr>
    {% endif %}

    {% if techno %}
      <h3>Технологические свойства материала:</h3>
      <table class="table table-striped table-responsive-md">
        {% for tech in techno %}
          <tr>
            <td><strong>{{ tech.property_name }}</strong> {{ tech.property_value }}</td>
          </tr>
        {% endfor %}
      </table>
      <hr>
    {% endif %}

    {% if termo_mode %}
      <h3>Режимы термической обработки материала:</h3>
      <table class="table table-striped table-responsive-md">
        {% for ter in termo_mode %}
          <tr>
            <td>{{ ter.property }}</td>
          </tr>
        {% endfor %}
      </table>
      <hr>
    {% endif %}

    {% if mech %}
      <h3>Механические свойства материала при Т=20<sup>o</sup>С:</h3>
      <table class="table table-striped table-responsive-md">
        <th class="text-center">Сортамент</th>
        <th class="text-center">Размер</th>
        <th class="text-center">Напряжение</th>
        <th class="text-center"><font face="symbol">s</font> <sub>в</sub></th>
        <th class="text-center"><font face="symbol">s</font> <sub>т</sub></th>
        <th class="text-center"><font face="symbol">d</font> <sub>5</sub></th>
        <th class="text-center"><font face="symbol">y</font></th>
        <th class="text-center">KCU</th>
        <th class="text-center">Термообработка</th>
        <tr>
          <td>
            <small>-</small>
          </td>
          <td>
            <small>мм</small>
          </td>
          <td>
            <small>-</small>
          </td>
          <td>
            <small>МПа</small>
          </td>
          <td>
            <small>МПа</small>
          </td>
          <td>
            <small>%</small>
          </td>
          <td>
            <small>%</small>
          </td>
          <td>
            <small>кДж/м<sup>2</sup></small>
          </td>
          <td>
            <small>-</small>
          </td>
        </tr>
        {% for m in mech %}
          <tr>
            <td>{{ m.sortament }}</td>
            <td>{{ m.razmer }}</td>
            <td>{{ m.napr }}</td>
            <td>{{ m.sigma_b }}</td>
            <td>{{ m.sigma_t }}</td>
            <td>{{ m.delta_5 }}</td>
            <td>{{ m.psi }}</td>
            <td>{{ m.KCU }}</td>
            <td>{{ m.termo_obrab }}</td>
          </tr>
        {% endfor %}
      </table>
      <hr>
    {% endif %}

    {% if table6 %}
      <table class="table table-striped table-responsive-md">
        {% for t in table6 %}
          <tr>
            <td><strong>{{ t.property }}</strong></td>
          </tr>
        {% endfor %}
      </table>
      <hr>
    {% endif %}

    {% if physic %}
      <h3>Физические свойства материала:</h3>
      <table class="table table-striped table-responsive-md">
        <th class="text-center">T</th>
        <th class="text-center">E 10<sup>-5</sup></th>
        <th class="text-center"><font face="symbol">a</font> 10<sup>6</sup></th>
        <th class="text-center"><font face="symbol">l</font></th>
        <th class="text-center"><font face="symbol">r</font></th>
        <th class="text-center">C</th>
        <th class="text-center">R 10<sup>9</sup></th>
        <tr>
          <td>
            <small>Град</small>
          </td>
          <td>
            <small>МПа</small>
          </td>
          <td>
            <small>1/Град</small>
          </td>
          <td>
            <small>Вт/(м·Град)</small>
          </td>
          <td>
            <small>кг/м<sup>3</sup></small>
          </td>
          <td>
            <small>Дж/(кг·Град)</small>
          </td>
          <td>
            <small>Ом·м</small>
          </td>
        </tr>
        {% for ph in physic %}
          <tr>
            <td>{{ ph.T }}</td>
            <td>{{ ph.E }}</td>
            <td>{{ ph.alpha }}</td>
            <td>{{ ph.lambda }}</td>
            <td>{{ ph.ro }}</td>
            <td>{{ ph.C }}</td>
            <td>{{ ph.R }}</td>
          </tr>
        {% endfor %}
      </table>
      <hr>
    {% endif %}
    {% if mech %}
      <h5><strong>Обозначения:</strong></h5>
      <h6><strong>Механические свойства:</strong></h6>
      <p><strong><font face="symbol">s</font> <sub>в</sub></strong> - Предел кратковременной прочности ,
        <strong>МПа</strong></p>
      <p><strong><font face="symbol">s</font> <sub>т</sub></strong> - Предел пропорциональности (предел текучести для
        остаточной деформации), <strong>МПа</strong></p>
      <p><strong><font face="symbol">d</font> <sub>5</sub></strong> - Относительное удлинение при разрыве ,
        <strong>%</strong></p>
      <p><strong><font face="symbol">y</font></strong> - Относительное сужение , <strong>%</strong></p>
      <p><strong>KCU</strong> - Ударная вязкость , <strong>кДж/м<sup>2</sup></strong></p>
      <p><strong>HB</strong> - Твердость по Бринеллю , <strong>МПа</strong></p>
    {% endif %}

    {% if physic %}
      <br>
      <!-- <h5><strong>Обозначения:</strong></h5> -->
      <h6><strong>Физические свойства:</strong></h6>
      <!-- TO DO!!! -->
      <!-- <p><strong><font face="symbol">s</font> <sub>в</sub></strong> - Предел кратковременной прочности , <strong>МПа</strong></p>
        <p><strong><font face="symbol">s</font> <sub>т</sub></strong> - Предел пропорциональности (предел текучести для остаточной деформации), <strong>МПа</strong></p>
        <p><strong><font face="symbol">d</font> <sub>5</sub></strong> - Относительное удлинение при разрыве , <strong>%</strong> </p>
        <p><strong><font face="symbol">y</font></strong> - Относительное сужение ,  <strong>%</strong> </p>
        <p><strong>KCU</strong> - Ударная вязкость ,  <strong>кДж/м<sup>2</sup></strong></p>
        <p><strong>HB</strong> - Твердость по Бринеллю , <strong>МПа</strong></p> -->
    {% endif %}

  </div>

{% endblock %}
